* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@media (min-width: 1024px) {

    body {
        min-height: 100vh;
        z-index: -10;

    }

    body ::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(background_chá.png);
        background-size: cover;
        background-repeat: no-repeat;
        filter: blur(5px);


        z-index: -2;

    }

    .nuvens {
        width: 30px;
        position: absolute;
        left: 5rem;
        top: 20rem;
        overflow: hidden;
        z-index: -3;
    }

    #apresentacao {

        min-height: 100vh;
        text-align: center;
        padding: 8rem;




    }

    #apresentacao h1 {
        font-size: 4rem;
        margin-bottom: 2rem;
        color: aliceblue;
        font-family: "Cardo", serif;
        font-style: italic;
        border: solid 1px aliceblue;
        padding: 2rem;
        box-shadow: 0 0 15px rgba(2, 2, 2, 0.527);
    }

    #apresentacao img {
        width: 800px;
        margin-bottom: 2rem;

    }

    #introducao {
        min-height: 100vh;
        gap: 5rem;
    }

    #introducao .sentados img {
        width: 250px;
        position: relative;
        top: 39rem;
        left: 80rem;
    }

    #introducao h2 {
        z-index: 2;
    }


    #introducao .abacate {
        font-size: 2rem;
        border-radius: 40px 0px;
        box-shadow: 0 0 15px rgba(2, 2, 2, 0.527);
        margin-right: 40rem;
        margin-left: 10rem;
        padding: 5rem;
        color: rgb(240, 248, 255);
        background-color: rgba(189, 158, 141, 0.616);




    }

    #introducao .gato {

        color: rgb(240, 248, 255);
        margin-top: 10rem;
        font-size: 2rem;
        box-shadow: 0 0 15px rgba(2, 2, 2, 0.527);
        border-radius: 20px 0px;
        margin-right: 10rem;
        margin-left: 40rem;
        padding: 5rem;

        background-color: rgba(189, 158, 141, 0.616);
    }


    #text-presentes {
        color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


    }

    .and-prensent img {
        width: 300px;
        left: 20rem;
        top: 145rem;
        position: absolute;
    }

    .liv_present img {
        width: 300px;
        left: 60rem;
        top: 163rem;
        position: absolute;
    }

    .thanks img {
        width: 400px;
        left: 40rem;
        top: 198rem;
        position: absolute;
    }

    .about_itens {
        position: relative;
        border: solid 1px aliceblue;

    }

    #text-presentes .frase_01 {

        width: 70rem;
        font-size: 3rem;
        margin-left: 40rem;

        padding: 5rem;
        box-shadow: 0 0 15px rgba(2, 2, 2, 0.527);
        border-radius: 20px 0px;
        background-color: rgba(189, 158, 141, 0.616);
    }

    #text-presentes .frase_02 {
        width: 50rem;
        font-size: 2rem;
        margin-left: 10rem;
        margin-top: 10rem;
        padding: 2rem;
        box-shadow: 0 0 15px rgba(2, 2, 2, 0.527);
        border-radius: 20px 0px;
        background-color: rgba(189, 158, 141, 0.616);
    }

    #text-presentes .frase_03 {
        text-align: center;
        width: 60%;
        font-size: 2rem;
        margin: 8rem auto;
        padding: 2rem;
        box-shadow: 0 0 15px rgba(2, 2, 2, 0.527);
        border-radius: 20px 0px;
        background-color: rgba(189, 158, 141, 0.616);
    }

    #sobre_site {
        margin-top: 15rem;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 5rem;
        color: aliceblue;
        font-size: 1.5rem;

    }



    .end {
        padding: 20rem;
        background-color: rgba(2, 2, 2, 0.829);
        text-align: center;
        margin-bottom: 2rem;
    }

    .end a {
        font-size: 3rem;
        text-decoration: none;
        color: rgb(46, 223, 30);
    }

    .end a:hover {
        color: rgb(14, 136, 18);
    }

}

@media only screen and (max-width: 600px) {


    body {
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: -10;
        margin: 0 auto;
    }

    body ::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(background_chá.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: blur(5px);

        z-index: -2;

    }


    .flutuante {
        animation: flutuar 3s ease-in-out infinite;
    }

    @keyframes flutuar {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-5%);
        }
    }


    #topo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
    }

    #topo .nuvens {
        bottom: 90px;
        right: 70px;
        width: 290px;
        position: relative;
        margin: 0 auto;
    }

    #topo .nuvens2 {
        bottom: 40px;
        left: 70px;
        width: 190px;
        position: relative;
        margin: 0 auto;
    }

    #topo .img_flutuante img {
        width: 280px;
        margin-top: 5rem;
        animation: flutuar 3s ease-in-out infinite;
    }

    #topo h1 {
        margin-top: 10rem;
        color: aliceblue;
        font-size: 1.9rem;
        text-align: center;
        border: solid 1px aliceblue;

        box-shadow: 0 0 15px rgba(2, 2, 2, 0.527);
    }

    #desenvolvimento01 {
        background-color: rgba(163, 145, 122, 0.493);
        color: aliceblue;
        font-size: 1rem;
        text-align: center;
        border: solid 1px aliceblue;
        padding: 1rem;
        box-shadow: 0 0 15px rgba(2, 2, 2, 0.527);
        margin: 20px;

    }

    #desenvolvimento02 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;
    }

    #desenvolvimento02 img {
        width: 160px;
        position: relative;
        top: 50px;
        left: 70px;
    }

    #desenvolvimento02 h2 {

        margin: 0rem 2rem;
        font-size: 1.9rem;
        color: aliceblue;
        text-align: center;
        border: solid 1px aliceblue;
        border-radius: 40px 0px;
        padding: 2rem;
        box-shadow: 0 0 15px rgba(2, 2, 2, 0.527);
    }

    #desenvolvimento03 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    #desenvolvimento03 h2 {

        margin-right: 8rem;
        margin-left: 1rem;

        font-size: 1.9rem;
        color: aliceblue;
        text-align: inherit;
        border: solid 1px aliceblue;
        padding: 2rem;
        box-shadow: 0 0 15px rgba(2, 2, 2, 0.527);
    }

    #desenvolvimento03 img {
        width: 120px;
        position: relative;
        bottom: 130px;
        left: 100px;
    }

    #desenvolvimento04 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    #desenvolvimento04 h2 {
        margin-left: 8rem;
        margin-right: 1rem;
        font-size: 1.9rem;
        color: aliceblue;
        text-align: right;
        border: solid 1px aliceblue;
        padding: 2rem;
        box-shadow: 0 0 15px rgba(2, 2, 2, 0.527);


    }

    #desenvolvimento04 img {
        width: 170px;
        position: relative;
        bottom: 100px;
        right: 120px;
    }

    #thanks {


        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #thanks h2 {
        margin: 2rem;
        font-size: 1.9rem;
        color: aliceblue;
        text-align: center;
        border: solid 1px aliceblue;
        padding: 2rem;
        box-shadow: 0 0 15px rgba(2, 2, 2, 0.527);
    }

    #thanks img {
        width: 140px;
        position: relative;
        bottom: 460px;
    }


    footer {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: rgba(2, 2, 2, 0.582);
        height: 400px;
        gap: 40px;
    }

    #atualizacao {
        padding: 2rem;
        color: aliceblue;
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    #atualizacao a {
        font-size: 1.5rem;
        text-decoration: none;
        color: rgb(46, 223, 30);
    }

    #atualizacao a:hover {
        color: rgb(14, 136, 18);
    }


}